
a.menu_a:link,a.menu_a:visited
{
    background-color: #98BF21;
    width: 150px;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}
a.menu_a:hover,a.menu_a:active
{
    background-color: #7A991A;	
}


ul.menu {
    /*display: flex;*/
    /*list-style-type: none;*/
    /*padding: 0;*/
    list-style-image: url("plus.png");
    text-transform: capitalize;
}

li.menu_li {
    margin-right: 5px;
}