@font-face
{
	font-family:horinac;
	src:url("AngelicWar.ttf");
}


*
{
	margin:0px;
	padding:0px;
}







.div1 {
    width: 500px;
    text-align: justify;
    background-color: #00ffdc;
    padding: 40px;
    border: 17px dotted red;
    margin: 38px;
    background-image: url("01.jpg"),url("02.jpg");
    background-position: right top,left bottom;
    background-repeat: no-repeat,repeat-y;
    background-origin: border-box;
	font-family:horinac;
}