*
{
	margin: 0px;
	padding:0px;
}

.d1:focus
{
	background-color:yellow;
	color:red;
	margin:20px;
}

.p1:first-line
{
	color:red;
}
.p1:first-letter
{
	font-size:40px;

.p1::after{
	content: "----"
}
.p2
{
	 margin:50px;
}


.p2::before
{
	content:"skizb";
}

.div1 {
    margin: 40px;
    background-color: green;
    width: 200px;
    height: 100px;
    box-shadow: 0px 0px 2px 12px rgba(191, 1, 191, 0.51);
}