* 
{
	padding:0px;
	margin:0px;
}
.circle{
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50%;
}
.rect{
	width: 0px;
	height: 0px;
	border: 40px solid transparent;
	border-top: 115px solid green;
}