*{
    margin: 0;
    padding: 0;
    font: 16px Arial, serif;
}
#time {
    position:relative;
    display: block;
    background: #B88B58;
    width: 120px;
    height: 120px;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #ccc;
    margin: 20px auto;
    border: 1px solid #000;
    border-radius: 60px;
    box-shadow: 0 0 8px #000;
}
#center {
    position: absolute;
    left: 58px;
    top: 57px;
    content: "";
    padding: 3px;
    border-radius: 3px;
    background: #000;
    z-index: 5;
}
#second, #minute, #hour, #l1, #l2, #l3, #l4, #l5, #l6 {
    position: absolute;
    display: block;
    content: "";
    padding: 60px 1px;
}
#second:after, #minute:after, #hour:after{
    position:absolute;
    left: 0px;
    content: "";
}
#second { left: 60px; z-index: 4; } 
#second:after {
    top: 20px;
    padding: 20px 1px 20px 0px;
    background: #000;
}
#minute { left: 59px; z-index: 3; }
#minute:after {
    top: 30px;
    padding: 15px 1px;
    background: #000;
}
#hour {    left: 59px; z-index: 2; }
#hour:after {
    top: 40px;
    padding: 10px 2px 10px 1px;
    border-radius: 2px 2px 0 0;
    background: #000;
}
#clock {
    margin-top:80px;
    font-size: 10px;
}

#l1{transform: rotate(0deg); }
#l2{transform: rotate(30deg);}
#l3{transform: rotate(60deg)}
#l4{transform: rotate(90deg);}
#l5{transform: rotate(120deg);}
#l6{transform: rotate(150deg);}
#l1, #l2, #l3, #l4, #l5, #l6 { left: 59px; z-index: 5; }
#l1:before, #l1:after, #l2:before, #l2:after, #l3:before, #l3:after, #l4:before, #l4:after, #l5:before, #l5:after, #l6:before, #l6:after {
    position:absolute;
    content: "";
    left: 0;
    padding: 5px 2px 5px 1px;
    background: #000;
}
#l1::before, #l2::before, #l3::before, #l4::before, #l5::before, #l6::before { top: 5px; }
#l1::after, #l2::after, #l3::after, #l4::after, #l5::after, #l6::after { bottom: 5px; }
#ln1:before, #ln2:before, #ln3:before, #ln4:before, #ln5:before, #ln6:before, 
#ln7:before, #ln8:before, #ln9:before, #ln10:before, #ln11:before, #ln12:before, 
#ln13:before, #ln14:before, #ln15:before, #ln16:before, #ln17:before, #ln18:before, 
#ln19:before, #ln20:before, #ln21:before, #ln22:before, #ln23:before, #ln24:before, 
#ln25:before, #ln26:before, #ln27:before, #ln28:before, #ln29:before, #ln30:before {
    padding: 5px 1px 5px 0; 
    left: 0px;
    top: 0px; 
    background: #fff;
    position: absolute;
    display: block;
    content: "";
}
#ln1:after, #ln2:after, #ln3:after, #ln4:after, #ln5:after, #ln6:after, 
#ln7:after, #ln8:after, #ln9:after, #ln10:after, #ln11:after, #ln12:after, 
#ln13:after, #ln14:after, #ln15:after, #ln16:after, #ln17:after, #ln18:after, 
#ln19:after, #ln20:after, #ln21:after, #ln22:after, #ln23:after, #ln24:after, 
#ln25:after, #ln26:after, #ln27:after, #ln28:after, #ln29:after, #ln30:after {
    padding: 5px 1px 5px 0; 
    left: 0px;
    bottom: 0px; 
    background: #fff;
    position: absolute;
    display: block;
    content: "";
}

#myline {		  
    position: relative;
    top: 30px;
    left: 58px;
    background:#B88B58;
    width: 4px;
    height: 150px;
    transform-origin: 0 0;
    
}

#mylineTo {
    position: absolute;
    top:120px;
    left:-18px;
    border: 20px solid transparent;
	border-top: 60px solid #B88B58;
}