.textP{
    line-height: 24px;
    text-indent: 74px;
    text-align: justify;
    text-transform: capitalize;
    word-spacing: 14px;
}
.headH{
    color: blue;
    letter-spacing: 21px;
    text-shadow: 9px 2px 0px red;
}
.vAlign{
}
a{
    text-decoration: overline red dashed;
}